/* PORTADA */

.presentation {
    height: 100vh;
    background-image: url(./assets/tomotherapy-azul.png);
    background-size: cover;
    background-position: center 80%;
    background-repeat: no-repeat;

    &__h1{
        background-color:rgba(255, 255, 255, 0.75);
        padding: 5px;
        font-size: 60px;
        font-weight: 200;
        color: $color-secondary;
        text-align: center;
        margin: auto;
        position: relative;
        top: 30%;
    }
}

/* ESLOGAN */

.eslogan{
    background-color: white;
    height: auto;

    &__h2{
        color:black;
        font-size: 1.8rem;
        padding:25px;
        text-align: center;
    }
}

.prestaciones{
    &__div{
        text-align: center;
    }

    &__img{
        width: 100px;
        height: 100px;
    }

    & h3{
        font-size: 1.1rem;
        margin: 10px;
    }
}

/* TARJETA TOMOTHERAPY */

.tomotherapy{
    background-color: $color-primary;
    color: white;
    margin-top:60px;
    margin-bottom:60px;

    &__iframe{
        height: 250px;
        border: 3px solid white;
    }

    &__h2{
        font-size: $font-size-tittle;
    }

    &__h3{
        font-size: $font-size-subtittle;
    }

    &__p{
        font-size: $font-size-text;
    }
}

/* TARJETA SERVICIOS */

.servicios{
    margin-top: 40px;

    &__h2{
        text-align: center;
        font-size: $font-size-tittle;
        color: $color-primary;
    }

    &__img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    &__tittle{
        background-color: white;
        width: 50%;
        margin: auto;
        padding: 5px;
        color: black;
        font-size:1.6rem;
    }
}


/* TARJETA PROFESIONALES */

.profesionales{
    
    margin-top:60px;
    margin-bottom:60px;

    &__h2{
        color: $color-primary;
        text-align: center;
        font-size: $font-size-tittle;
        margin-bottom: 30px;
    }

    &__h3{
        font-size: $font-size-subtittle;
        color: $color-primary;
        border-bottom: 2px solid #C3CB1E;
        display: inline-block;
    }

    &__ul{
        font-size: $font-size-text;
        color: $color-secondary;
        padding-left: 0;
    }

   
}

