/* NOTICIAS */

.buscador{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    
   

    &__input{
        text-align: center;
        width: 400px;
        height: 40px;
        border: 1px solid $color-primary;
        border-radius: 8px;
        margin:0 5px;
    }
}

.noticias{

    &__img{
        width: 200px;
        height:120px;
    }

    &__article{
        font-size: 0.8rem;
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 25px;
        background-color: white;
        border: 1px solid $color-secondary;
        border-radius: 10px;
    }

  

     &__a{
       color:white;
    }
}