/* SERVICIOS */

.especialidades{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin: 40px;

    &__div{
        width: 400px;
        height: 200px;
        text-align: center;
        background-size: cover;
        background-position: center;
        border-radius: 5px;

        &--radio{
            background-image: url(assets/servicio-tomotherapy.jpg);
        }

        &--quimio{
            background-image: url(assets/servicio-quimio.JPG);
        }

        &--transplante{
            background-image: url(assets/servicio-medula.jpeg);
        }

        &--biopsia{
            background-image: url(assets/servicio-biopsialiquida.jpg);
        }

        &--consultorios{
            background-image: url(assets/servicio-consultorios.JPG);
        }
    }

    &__h2{
        background-color: rgba(255, 255, 255, 0.75);
        padding: 10px;
        margin-top: 50px;
    }

}

