/* FOOTER */

.footer-container{
    font-weight: normal;
    display: grid;
    justify-items: center;
    align-items: flex-start;
    text-align: center;
    grid-template-areas:
    "horarios horarios horarios telefono"
    "logo menu atilra ubicacion"
    "redes menu atilra ubicacion";

    &__horarios{
        grid-area: horarios;
        background-color:#017D9F;
        height: 55px;
        display:flex;
        justify-content:center;
        align-items: center;
        width: 100%;
        font-size: $font-size-subtittle;
        margin-bottom: 0px;
        color:rgb(255, 255, 255);
    }

    &__telefono{
        grid-area: telefono;
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 55px; 

        & a{
            font-size: $font-size-subtittle;
            position: relative;
            top: 2px;
        }

        & i{
            font-size: $font-size-tittle;;
            color: rgb(48, 209, 77);
            margin: 10px;
            transition: transform 0.5s, color 0.5s;
        }
    }

    &__logo{
        grid-area: logo;
        align-self: center;
        justify-self: center;
        margin: 10px;
    }

    &__menu{
        grid-area: menu;
        padding: 5px;
    }

    & ul{
        padding: 5px;

        & li:first-child{
            color: #017D9F;
            font-weight: bold;
            font-size: 1.1rem;
        }
    }

    & a{
        text-decoration: none;
        color: $color-primary;
        font-weight: bold;
        transition: color 0.5s;
    }

    & a:hover{
        color:$color-secondary;
    }

    &__atilra{
        grid-area: atilra;  
    }

    &__ubicacion{
        grid-area: ubicacion;
        padding: 10px;
        width: 100%;

        & iframe{
            width: 300px;
            height: 150px;
        }
    }

    &__redes{
        grid-area: redes;
        padding: 10px;
    }

    & ul h3, &__ubicacion h3, &__redes h3{
        font-size: $font-size-subtittle;
        font-weight: bold;
        color: #017D9F;
    }

    &__redes i{
        margin: 8px;
        margin-top: 0;
        font-size: 1.3rem;
        display:inline-block;
        transition: transform 0.5s, color 0.5s;
    }
}



.bi-facebook:hover{
    transform: scale(1.5);
    color: rgb(13, 137, 240);
}

.bi-instagram:hover{
    transform: scale(1.5);
    color: rgb(139, 41, 193);
}

.bi-youtube:hover{
    transform: scale(1.5);
    color: rgb(246, 0, 2);
}

.bi-whatsapp:hover{
    transform: scale(1.5);
    color: rgb(48, 209, 77);
}

@media (min-width: 768px) and (max-width:1024px) {

    .footer-container{
        width: 100%;
        grid-template-areas:
        "horarios horarios horarios"
        "telefono telefono telefono"
        "logo menu atilra "
        "redes menu atilra"
        "ubicacion ubicacion ubicacion";
    }

    .footer-container iframe{
        width: 100%;
    }
}

@media (max-width:768px) {
    .footer-container{
        grid-template-areas:
        "horarios"
        "telefono"
        "menu"
        "atilra"
        "logo"
        "redes"
        "ubicacion";
    }

    .presentation__h1{
        font-size: 40px;
        font-weight: 200;
        top: 10%;
    }

}