.btn-1{
    width: 80px;
    height: 40px;
    background-color: #017D9F;
    color: white;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}